<% provide(:title,'About Us') %>
<html>
<div class="about">

	<h1>Stanford Reach</h1>

	<p> Stanford reach is a goal setting platform for the connected world.  We tap into wearable high technology and data to help you reach your goals
	by implementing leading research in habit formation, showing you real time updates on your progress towards your goal and connecting you to those 
	who have similar goals.   </p>

</html>


			