<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>

    <h1>Help</h1>
    <p>
      If you need help ASAP contact us at <a href="mailto:dstung@gmail.com">dstung@gmail.com</a> or <a href="mailto:stanfordreach@gmail.com">samir.patel71@gmail.com</a> and our monkeys will get working!  
    </p>
