<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Goal Information goes here<br><br><br></h3>
      <h3> Proress Information goes here<br><br><br></h3>
      <h3> Relevant Articles go here<br><br><br></h3>
      <h3>Support Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <br>
    <br>
    <h1>Stanford Reach</h1>
    <p>
      Empowering a movement of goal reachers.
    </p>


  </div>

  
<% end %>